{% extends "base.html" %}
{% block title %}
    Login - Vehicle Parking
{% endblock %}
{% block content %}
    <div class="container d-flex justify-content-center align-items-center min-vh-100">
        <div class="card shadow p-4 rounded-3" style="max-width: 450px; width: 100%;">
            <div class="card-body">
                <h2 class="card-title text-center mb-4">User Login</h2>
                {{ super() }}
                <form action="/" method="post">
                    <div class="mb-3">
                        <label for="username" class="form-label">Username:</label>
                        <input type="text" class="form-control" id="username" name="username" placeholder="Enter your Username" required>
                    </div>
                    <div class="mb-4">
                        <label for="password" class="form-label">Password:</label>
                        <input type="password" class="form-control" id="password" name="password" placeholder="Enter your Password" required>
                    </div>
                    <div class="d-grid mb-3">
                        <button type="submit" class="btn btn-success">
                            Login
                        </button>
                    </div>
                    <div>
                        <a href="/register" class="text-decoration-underline text-primary">
                            Create Account?
                        </a>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
