<nav class="navbar navbar-expand-lg bg-success-subtle border-bottom border-2 border-success-subtle">
    <div class="container-fluid d-flex justify-content-left align-items-center">

        {% if session.get('full_name') == "Administrator"%}
            <a class="navbar-brand text-danger fw-bold" href="/admin_dashboard">Welcome {{session.get('full_name')}}</a>
        {% else %}
            <a class="navbar-brand text-danger fw-bold" href="/user_dashboard">Welcome {{session.get('full_name')}}</a>
        {% endif %}

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">

                {% if session.get("username") == "admin" %}
                <li class="nav-item">
                    <a class="nav-link active text-dark fw-medium py-2 px-3" aria-current="page" href="{{ url_for('admin_dashboard') }}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active text-dark fw-medium py-2 px-3" aria-current="page" href="{{ url_for('edit_profile') }}">Edit Profile</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active text-dark fw-medium py-2 px-3" aria-current="page" href="{{ url_for('registered_users') }}">User</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active text-dark fw-medium py-2 px-3" aria-current="page" href="{{ url_for('summary') }}">Summary</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active text-dark fw-medium py-2 px-3" aria-current="page" href="{{ url_for('logout') }}">Logout</a>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link active text-dark fw-medium py-2 px-3" aria-current="page" href="{{ url_for('user_dashboard') }}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active text-dark fw-medium py-2 px-3" aria-current="page" href="{{ url_for('edit_profile') }}">Edit Profile</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active text-dark fw-medium py-2 px-3" aria-current="page" href="{{ url_for('user_summary') }}">Summary</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active text-dark fw-medium py-2 px-3" aria-current="page" href="{{ url_for('logout') }}">Logout</a>
                </li>
                {% endif %}
            </ul>
            <form class="d-flex" role="search">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search"/>
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
        </div>
    </div>
</nav>